<div *ngFor="let employee of employeeService.employees" [ngClass]="{'lista-style': true}">
    <p id="dados-criados">Dados criados:</p>
    <p>Nome: {{employee.name}}</p>
    <p [ngClass]="{'idade-maior': employee.idade >= 18, 'idade-menor': employee.idade < 18}">Idade: {{ employee.idade }} anos</p>
    <p>E-mail: {{employee.email}}</p>
    <p>Endereço: {{employee.endereco}}</p>
    <p>Telefone: {{employee.telefone}}</p>
    
    <p [hidden]="employee.idade >= 18" id="mensagem">É necessário ter mais de 18 anos para salvar as informações</p>
</div>